<head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>


<link rel="stylesheet" href="/css/styles.css" asp-append-version="true" />

<style>
.input-validation-error { border-color: red; background-color: #fee; }
</style>

<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/jquery-validation/dist/jquery.validate.min.js">
</script>
<script src="lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</head>



<ul class="main-navigation">
  <ul class="nav justify-content-end">
  <li style="margin-right: 1%;">
    @if (User.Identity.IsAuthenticated)
    {
      <a style="text-align: right;" asp-action="Logout" asp-controller="Account">Wyloguj</a>
      <div ><small>Zalogowany jako: @User.Identity.Name</small></div>
    } else
    {
      <a  asp-action="Login" asp-controller="Account">Zaloguj</a>
    }

    </li>
  </ul>
</ul>

      @* <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> *@
    
    
    

<div style="margin-left:25%;margin-right:25%; margin-top:2%;">

@if (TempData["message"] != null) {
<div class="alert alert-success mt-1">@TempData["message"]</div>
}
@RenderBody()
</div>