@model ResetPasswordModel


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>password change</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">    

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }


     
    </style>
    
    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
</head>

@* <main class="form-signin">

<div class="text-danger" asp-validation-summary="All"></div>
xd
@ViewBag.Id
xd
<form asp-action="ChangePassword" method="post">
    <input type="hidden" name="userId" value="@ViewBag.userId" />
    <div class="form-group">
        <label asp-for="Password">new password</label>
        <input asp-for="Password" class="form-control" />
    </div>
    
    <button class="btn btn-primary" type="submit">Reset</button>

</form> *@ 


<main class="form-signin">

    <h1>Reset Password</h1>

        <form asp-action="ChangePassword">
            <input asp-for="Token" type="hidden" />
            <input asp-for="UserId" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            @* <input type="hidden" asp-for="UserId" class="form-control" />
            <input type="hidden" asp-for="Token" class="form-control" /> *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
