
@{
    Layout = "_Layout";
}

<h2>Dziękujemy!</h2>
<p>Dziękujemy za złożenie zamówienia.</p>
<p>Wyślemy produkty tak szybko, jak tylko będzie to możliwe.</p>

<script type="text/javascript">
    setTimeout("location.href='https://localhost:5001/User/ListProducts';",3000);
</script>